<h1 mat-dialog-title style="margin-bottom: 1rem">Add Client</h1>
<div class="section__title-wrapper">
  <h2 mat-dialog-title class="section__title">
    Get in<span class="yellow-bg yellow-bg-big"
      >touch <img src="./assets/images/shape/yellow-bg.png" alt=""
    /></span>
  </h2>
</div>

<div mat-dialog-content>
  <div class="contact__form">
    <form #f="ngForm" (ngSubmit)="submitForm(f)">
      <div class="row">
        <!-- Image Upload Section -->
        <div class="col-12 m-b-30">
          <div class="contact__form-input__image__container">
            <img
              class="contact__form-input__image"
              [src]="imageUrl"
              alt="Image Preview"
            />
          </div>
          <div class="contact__form-input contact__form-input__image__btns">
            <input
              type="file"
              accept="image/*"
              id="Image"
              name="imgUrl"
              ngModel
              #fileInput
              style="display: none"
              (change)="onFileSelected($event)"
            />
            <button
              type="button"
              mat-flat-button
              class="Extended-Fab"
              (click)="triggerFileInputClick()"
            >
              Select Image
            </button>
            <button
              type="button"
              mat-flat-button
              class="Extended-Fab Extended-Fab--2 m-l-16"
              (click)="resetAvatarImage()"
            >
              Reset Image
            </button>
          </div>
        </div>

        <!-- PDF Upload Section -->
        <div class="col-12 m-b-30">
          <input
            type="file"
            accept="application/pdf"
            id="Pdf"
            name="pdfFile"
            ngModel
            #pdfInput
            style="display: none"
            (change)="onPdfSelected($event)"
          />
          <button
            type="button"
            mat-flat-button
            class="Extended-Fab"
            (click)="triggerPdfInputClick()"
          >
            Select PDF
          </button>
        </div>

        <!-- Other Form Fields -->
        <div class="col-12">
          <div class="contact__form-input">
            <label class="contact__form-input-label" for="nom">Name</label>
            <input
              #nomField="ngModel"
              type="text"
              placeholder="nom"
              id="nom"
              name="nom"
              ngModel
              required
              minlength="3"
            />
          </div>
        </div>

        <div class="col-12">
          <div class="contact__form-input">
            <label for="Description">Description</label>
            <textarea
              #descField="ngModel"
              placeholder="Enter Your Description"
              id="description"
              name="description"
              ngModel
              required
              minlength="3"
            ></textarea>
          </div>
        </div>
        <div class="col-12">
          <div class="contact__form-input">
            <label class="contact__form-input-label" for="Description"
              >Diplome</label
            >
            <textarea
              #descField="ngModel"
              placeholder="Enter Your Description"
              id="diplome"
              name="diplome"
              ngModel
              required
              minlength="3"
            ></textarea>
          </div>
        </div>

        <div class="col-12" style="margin-top: 1rem">
          <button type="submit" mat-flat-button color="primary">Add</button>
        </div>
      </div>
    </form>
  </div>
</div>
