<div class="navigation">
  <nav class="navigation__nav">
    <a href="#"
      ><img
        class="navigation__logo"
        src="../../../../assets/contents/img/logo-txt-nobg.png"
        alt="platform-logo"
    /></a>

    <ul class="navigation__list">
      <li class="navigation__item">
        <a routerLink="/home" class="navigation__link">Home</a>
        <!--<a routerLink="/universities">Universities</a> -->
      </li>
      <li class="navigation__item">
        <a
          routerLink="/showBasket/{{ 1 }}"
          routerLinkActive="router-link-active"
          class="navigation__link"
          >Order de Transport</a
        >
        <!--<a routerLink="/universities">Universities</a> -->
      </li>
      <li class="navigation__item">
        <a routerLink="/client" class="navigation__link">Client</a>
      </li>
      <li class="navigation__item">
        <a [routerLink]="['/events/event-list']" class="navigation__link">Event</a>
      </li>
      <li class="navigation__item">
        <a routerLink="/client" class="navigation__link">Article</a>
      </li>
      <li class="navigation__item">
        <a routerLink="/login" class="navigation__link">Login</a>
      </li>
      <div class="navigation__btn">
        <a routerLink="/signup" class="primary-btn primary-btn-nav">Sign up</a>
      </div>
    </ul>
  </nav>
</div>
